html{ background: rgba(33, 33, 33, 1); }
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;700;900&family=Rubik:wght@300;500;600;700;900&display=swap');
.App {
  text-align: center;
  padding-left: calc(100vw - 100%);
}
#root {
  background: rgb(221,82,82);
  background: linear-gradient(60deg, rgba(221,82,82,1) 0%, rgba(255,189,13,1) 60%, rgba(100,210,17,1) 100%);
}

#root::before{
content: ""; position: fixed; top: 0; left: 0;
width: 100%; height: 100%; background: rgb(221,82,82);
background: linear-gradient(140deg, rgba(245, 124, 56, 1) 0%, rgba(212, 255, 89, 1)  100%);
}
.font-Rubik{
  font-family: 'Rubik', 'Noto Sans TC', sans-serif;
}
.container, .container-lg, .container-fluid{ padding: 100px 0; }
.container:first-child, .container-lg:first-child, .container-fluid:first-child{ padding-top: 0px; }
.section>*:last-child{ 
  /* padding-bottom: 100px !important;  */
  /* footer height */
  /* 20px + 14px * .5 * 2 */
  padding-bottom: 34px !important;
}
.content{ position: relative; z-index: 3; }
.content-title .body_18{ position: relative; top: -0.125em;}
.fw-300{ font-weight: 300; }
.fw-500{ font-weight: 500; }
.fw-700{ font-weight: 700; }
.fw-900{ font-weight: 900; }
.catch_84{ font-size: 84px; line-height: 84px; }
.catch_42{ font-size: 42px; line-height: 60px; }
.catch_34{ font-size: 34px; line-height: 34px; }
.title_24{ font-size: 24px; line-height: 36px; }
.title_24_2{ font-size: 24px; line-height: 42px; }
.body_18{ font-size: 18px; line-height: 30px; }
.text_14{ font-size: 14px; line-height: 20px; }
.header{ 
  position: sticky; 
  position: -webkit-sticky;
  top: 0; z-index: 100;
  background: linear-gradient(240deg, rgba(245, 124, 56, .3) 0%, rgba(212, 255, 89, .3)  100%);
}
.footer{ z-index: 100; }
.logo{ text-shadow: 0 0 15px rgba(255, 255, 255, .4); }
.navigation-button{ position: relative; text-decoration: none; }
.navigation-button .button-text{ position: relative; text-shadow: 0 0 15px rgba(255, 255, 255, .4); }
.navigation-button .button-text::after{
  content: ""; position: absolute; top: 100%; left: 0;
  width: 100%; height: 2px; display: block; background: rgba(33, 33, 33, 1); opacity: 0;
}
.navigation-button.is-active .button-text::after{ opacity: 1; }
.text-black{ color: rgba(33, 33, 33, 1); }
.text-orange{ color: rgba(245, 124, 56, 1); }
.text-green{ color: rgba(212, 255, 89, 1); }
.text-paper{ color: #FFFDEF; }
.text-grey{ color: #6D6D6D; }
.bg-orange{ background: rgba(245, 124, 56, 1); }
.bg-green{ background: rgba(212, 255, 89, 1); }
.bg-paper{ background: #FFFDEF; }
.bg-grey{ background: #6D6D6D; }
.border-round-10px{ border-radius: 10px; }
.border-round-5px{ border-radius: 5px; }

.button{ cursor: pointer; }

.button-style-connect{
  width: 100%;
}
.button-style-connect .button-link{ 
  /* background: rgba(245, 124, 56, 1);  */
  background: rgba(33, 33, 33, 1);
}
.button-style-connect:hover .button-link{ 
  box-shadow: 0 0 1em #6D6D6D;
  /* background: linear-gradient(140deg, rgba(245, 124, 56, 1) 0%, rgba(212, 255, 89, 1)  100%); */
  /* box-shadow: 0 0 1em rgba(245, 124, 56, 1);  */
}
.button-style-disconnect .button-link{ background: #6D6D6D; }
.button-style-disconnect:hover .button-link{ box-shadow: 0 0 1em #6D6D6D; }

.button-style-primary .button-link{  }
.button-style-primary:hover .button-link{ box-shadow: 0 0 0 3px rgba(33, 33, 33, 1); }
.button-style-link .button-text::after{
  content: ""; position: absolute; top: 100%; left: 0;
  width: 100%; height: 2px; display: block; background: rgba(33, 33, 33, 1); opacity: 1;
}
.button-style-link .button-text{ position: relative; display: block; }
.button-style-link:hover .button-text::after{
  opacity: 1;
}
.button-text{
  white-space: nowrap;
}

/* .button-style-primary .button-text{  } */

.account-profile{
  border-radius: 50%;
  background: rgba(33, 33, 33, 1);
  overflow: hidden;
}
.account-profile img{
  width: 120px;
  height: 120px;
  outline: none;
  display: block;
}


.cover::after{
  content: ""; position: absolute;
  top: 0; left: 0; width: 100%; height: 100%; 
  background: radial-gradient(50% 50% at 50% 50%, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%);
  z-index: 1; display: block;
}

.visual img{ 
  /* 30 */
  min-height: calc(100vh - 30px - 4rem); min-width: 100vw; 
  object-fit: cover
}
.visual-main{ top: 40%; z-index: 2; }
.visual-title span{position: relative; margin: 0 2px; }
.visual-title span{ text-shadow: 0 0 25px rgba(245, 124, 56, .6); }
.visual-subtitle span{ text-shadow: 0 0 15px rgba(245, 124, 56, .6); }
.visual-title span:nth-child(1){ top: .00em; transition-delay: .0s; }
.visual-title span:nth-child(2){ top: .2em; transition-delay: .1s; }
.visual-title span:nth-child(3){ top: .125em; transition-delay: .2s; }
.visual-title span:nth-child(4){ top: .15em; transition-delay: .3s; }
.visual-title span:nth-child(5){ top: .05em; transition-delay: .4s; margin-left: 0; }

.member-profile{
  border: 3px solid rgba(33, 33, 33, 1);
}

.whitepaper{
  width: 100%;
  background: linear-gradient(140deg, rgba(245, 124, 56, 1) 0%, rgba(212, 255, 89, 1)  100%);
  /* border: 2px solid rgba(245, 124, 56, 1); */
}
.whitepaper-body{
  width: 100%;
  height: 60vh;
}

::selection{
  background: rgba(245, 124, 56, 1);
  color: rgba(212, 255, 89, 1);
}

.productList{ 
  border-radius: 10px 10px 0 0;
  /* border-radius: 10px; */
  background: rgba(0,0,0,.6); 
  box-shadow: 0 0 15px rgba(0,0,0, 0.3);
}

.product-title{
  border-bottom: 2px solid rgba(33, 33, 33, 1);
  white-space: pre-line;
}
.product-text{
  white-space: pre-line;
}
.product-profile{ border: 3px solid rgba(33, 33, 33, 1); }

.product-form{
  margin-bottom: .5rem;
}
.product-form:last-child{
  margin-bottom: 0
}
.product-form-itemInput{
  position: relative;
  border: 0;
  border-bottom: 2px solid rgba(33, 33, 33, 1); 
  outline: 0;
}
::placeholder{
  color: rgba(33, 33, 33, .25) !important;
}



.about-pic{
  position: relative;
  padding-bottom: 68%;
  width: 50vw;
  min-width: 100%;
  /* transform: translateX(-100%); */
}
.about-pic img{
  position: absolute;
  width: 100%;
}
.about-block-1 .about-pic,
.about-block-3 .about-pic{
  left: 100%;
  transform: translateX(-100%);
}
.about-block-1 .about-pic img{
  transform: translateX(-50%) translateY(-35%) !important;
}
.ourdata-container::before{
  content: ""; position: absolute;
  top: 0; left: 0; width: 100%; height: 1px; 
  z-index: 1; display: block;
  border-top: 2px solid rgba(33, 33, 33, 1); 
}

/* .button-style-primary .button-link{ } */
/* 
papaer
#FFFDEF

orange
rgba(245, 124, 56, 1) #F57C38

green
rgba(212, 255, 89, 1) 

grey
rgba(212, 255, 89, 1) 
*/

